################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorld/.vs/HelloWorld
/HelloWorld/HelloWorld/obj
/HelloWorld/HelloWorld/bin/
/HelloWorld/.vs/ProjectEvaluation
